.home__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__container1{
    display: flex;
    flex-direction: column;
    padding: 2rem;  
}

.home__container1 h1{
    font-size: 60px;
    font-weight: 600;
}

.home__container2{
    background-color: var(--color-blue-light);
    display: flex;
    flex-direction: column;
}
.home__empower{
    padding: 1rem 0.5rem;
}

@media screen and (max-width: 950px) {
    .home__container2 img{
        width: 50vw;
    }
    .home__container1 h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 650px) {
    .home__container2 img {
        width: 40vw;
    }
        .home__container1 h1 {
            font-size: 40px;
        }
}